*{
    margin: 0;
    padding: 0;
}
video{
    width: 100%;
    height: 100%;
}

.VideoTxt{
    position: absolute;
    z-index: 100;
    left: 5%;
    top: 15%;
}

.VideoTxt .slogan{
    font-size: 2.3rem;
}
.explore{
    color: #fff;
    display: flex;
    margin-top: 20%;
}

.VideoTxt button{
    padding: 10px 50px;
    font-size: 2rem;
    border-radius: 30px;
    background-color: transparent;
    border: white dotted 2px;
    margin-top: 20%;
    margin-left: 15%;
    display: contents;
}

.searchTerm {
    width: 70%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 30px ;
    outline: none;
    color: #9DBFAF;
    margin-top: 40%;
    margin-left: 40%;
  }


